# airflow plugins
airflow-code-editor==8.1.0

# coding/linting
black
isort

# etl/data
pandas
polars
boto3
numpy
openpyxl
pendulum
faker
great-expectations

# db/file system
SQLALchemy
pyodbc
minio
fs-s3fs

# ml
scikit-learn
matplotlib
seaborn
bokeh
xgboost

# web/apps
django
requests
taipy
streamlit

