# airflow plugins
airflow-code-editor
apache-ariflow-providers-microsoft-mssql

# coding/linting
black
isort

# etl/data
pandas
polars
boto3
numpy
openpyxl
pendulum
faker
great-expectations


# dbt 
dbt-core
dbt-sqlserver
dbt-postgres

# db/file system
SQLALchemy
pyodbc
minio
fs-s3fs

# ml
scikit-learn
matplotlib
seaborn
bokeh
xgboost

# web/apps
django
requests
streamlit

